* {
    font-family: 'VT323', monospace;
    color: black;
    cursor: default;
}

header {
    background-color: white;
    padding-left: 90px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.headerText {
    font-size: 28px;
    text-align: left;
    margin-top: 8px;
    margin-right: 20px;
}

.statusBar {
    width: 300px; 
    height: 20px; 
    border: none; 
    font-size: 15px;
}

.statusBar:hover, .navEmoji:hover {
    cursor: text;
}

.statusBar:focus {
    outline: none !important;
}

body {
    background-color: #fff8e5;
    width: 80%;
    padding-right: 9%;
    padding-left: 9%;
}

.verNavBar {
    float: left;
    width: 16%;
    height: 100%;
    padding-top: 25px;
    background: #ffe071;
    position: absolute;
    font-size: 20px;
}

.verNavBar button {
    padding-left: 28px;
    text-decoration: none;
    cursor: pointer;
    background: #ffe071;
    border: none;
    font-size: 20px;
}

.verNavBar button:hover {
    text-decoration: underline;
}

.verNavBar button:active {
    text-shadow: 1px 1px 0px black;
    color: transparent;
}

.username button {
    background-color: inherit;
    float: right;
    border: none;
    font-size: 15px;
    margin-top: 3px;
}

.username button:hover {
    text-decoration: underline;
    color: blue;
}

.logout button {
    background-color: inherit;
    float: right;
    border: none;
    font-size: 15px;
    text-decoration: underline;
    color: blue;
    margin-top: 3px;
    margin-right: 10px;
}

.logout button:hover {
    color: white
}

.navEmoji {
    width: 200px; 
    height: 20px; 
    border: none; 
    font-size: 12px;
    border-radius: 5px;
}

.horNavBar {
    background: #ececec;
    overflow: hidden;
    padding-bottom: 2px;
    width: 82%;
    float: right;
}

.seriesNavBtn {
    color: blue; 
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    padding: 0px;
}

.seriesNavBtn:hover {
    color: #008ecb;
}

.navContent, .seriesContent, .musicContent {
    float: right;
    width: 78%;
    overflow: hidden;
}

.newSeries {
    margin-top: 8px;
    background: #ff9eb5; 
    padding: 15px;
    padding-bottom: 12px;
    width: 93%;
    font-size: 15px;
}

.newSeriesForm {
    margin-bottom: 8px;
}

.newSeriesLabel {
    display: inline-block;
    width: 120px;
}

.newSeriesInput, .newMusicInput {
    width: 150px;
    height: 22px;
    border-color: #000000;
    border-width: 1px;
    padding-left: 4px;
}

.newSeriesDropdown {
    width: 157px;
    height: 23px;
    border-color: #000000;
    border-width: 1px;
}

.newSeriesTextarea {
    width: 275px;
    border-color: #000000;
    border-width: 1px;
    resize: none;
    padding: 4px;
    margin-top: 3px;
}

.newSeriesInput:hover, .newSeriesDropdown:hover, .newSeriesTextarea:hover {
    background-color: #ffebf0;
}

.newSeriesInput:focus, .newSeriesDropdown:focus, .newSeriesTextarea:focus {
    outline: none !important;
    background-color: #ffebf0;
}

.newSeriesYear::-webkit-outer-spin-button, .newSeriesYear::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.newMusicInput:hover {
    background-color: #e1f3fc;
}

.newMusicInput:focus {
    outline: none !important;
    background-color: #e1f3fc;
}

.posterContainer {
    position: relative;
    width: 160px; 
    height: 211px; 
    float: left;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.posterMusicContainer {
    position: relative;
    width: 125px; 
    height: 125px; 
    float: left;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.posterContainer:hover {
    background-color: #ffebf0;
}

.posterMusicContainer:hover {
    background-color: #e1f3fc;
}

.drop-zone--over, .drop-zone--overMusic {
    border-style: solid;
}

.drop-zone__input, .drop-zone__inputMusic {
    display: none;
}

.drop-zone__thumb, .drop-zone__thumbMusic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.seriesContainer {
    position: relative;
    width: 125px;
    height: 176px;
    float: left;
    padding-right: 6px;
    padding-bottom: 6px;
}

.musicContainer {
    position: relative;
    width: 125px;
    height: 125px;
    float: left;
    padding-right: 6px;
    padding-bottom: 6px;
}

.seriesPoster, .musicPoster {
    opacity: 1;
    display: block;
    transition: .3s ease;
    backface-visibility: hidden;
    border-radius: 10px;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 46%;
    width: 75%;
    height: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.seriesContainer:hover .seriesPoster, .musicContainer:hover .musicPoster {
    opacity: 0.6;
}

.seriesContainer:hover .middle, .musicContainer:hover .middle {
    opacity: 1;
}

.seriesDescription {
    padding-top: 50%;
    background-color: none;
    color: white;
    font-size: 13px;
}

.seriesPopup, .deleteSeriesConfirm, .musicNew {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.seriesPopupContainer {
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    top: 65%;
    left: 40%;
    transform: translate(0, -50%);
    padding-bottom: 18px;
    width: 450px;
    border-radius: 5px;
    font-size: 15px;
}

.seriesPopupHeader {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.seriesPopupContent {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 50px;
}

.editSeriesTitle {
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    background-color: whitesmoke;
    width: 186px;
}

.editSeriesYear, .editSeriesDropdown {
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    background-color: whitesmoke;
    width: 100px;
}

.editSeriesYear::-webkit-outer-spin-button, .editSeriesYear::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editSeriesTitle:focus, .editSeriesYear:focus, .editSeriesDropdown:focus, .editSeriesNotes:focus {
    outline: none !important;
}

.editSeriesTitle:hover, .editSeriesYear:hover, .editSeriesDropdown:hover, .editSeriesNotes:hover {
    background: #ececec;
}

.editSeriesNotes {
    resize: none;
    border: none;
    font-size: 15px;
    background-color: whitesmoke;
    width: 186px;
    height: 50px;
}

.editSeriesNotes::-webkit-scrollbar {
    width: 2px;
}

.editSeriesNotes::-webkit-scrollbar-track {
    background: none; 
}

.editSeriesNotes::-webkit-scrollbar-thumb {
    background: #FAFAFA; 
}

.deleteSeriesConfirmPrompt {
    position: absolute;
    top: 41%;
    left: 46%;
    transform: translate(0, -50%);
    width: 280px;
}

input[type="file"]::file-selector-button {
    font-family: 'VT323', monospace;
    margin-bottom: 2px;
    margin-left: 2px;
}

/* Button to open new music form */
.openNewMusicFormBtn {
    border: none;
    background-color: black;

    /* Make button circle */
    display: block;
    height: 8%;
    width: 4%;
    border-radius: 50%;

    /* Make button stick to right bottom corner */
    position: fixed;
    right: 3.5%;
    bottom: 2%;
}

.openNewMusicFormBtn:hover {
    cursor: pointer;
}

.openNewMusicFormBtn:active {
    transform: translateY(1px);
}

/* Position of new music form */
.newMusicForm {
    position: absolute;
    background-color: #bde6fc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    top: 45%;
    left: 40%;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 25px;
    width: 450px;
    border-radius: 5px;
    font-size: 15px;
    animation-name: animateNewMusicForm;
    animation-duration: 0.7s;
}

/* Zoom animation when open new music form */
@keyframes animateNewMusicForm {
    from {transform: scale(0);}
    to   {transform: scale(1);}
}